@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@config "../tailwind.config.js";

@keyframes shiny {
    0% {
        background-position: 200% center;
    }
    100% {
        background-position: -200% center;
    }
}

@layer utilities {
    .animate-shiny {
        background: linear-gradient(90deg, #bbb 0%, #bbb 40%, #fff 50%, #bbb 60%, #bbb 100%);
        background-size: 200% auto;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shiny 3s linear infinite;
    }
}

/* Slick Carousel 自定义样式 */
.slick-prev,
.slick-next {
    z-index: 1;
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}

.slick-prev:before,
.slick-next:before {
    color: #000;
    font-size: 30px;
}

.slick-dots {
    bottom: -50px;
}

.slick-dots li button:before {
    font-size: 9px;
    color: #999;
}

.slick-dots li.slick-active button:before {
    color: #000;
}

/* Ẩn nút mũi tên khi màn hình ≤ 1024px */
@media (max-width: 1024px) {
    .slick-prev,
    .slick-next {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .slick-prev {
        left: -30px;
    }

    .slick-next {
        right: -30px;
    }
}
